<div id="carouselIndicators" class="carousel slide d-block w-50" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/carousel/image0.jpeg" class="d-block w-100" style="border-radius: 50px;">
        </div>
        <div class="carousel-item">
            <img src="~/img/carousel/image1.jpeg" class="d-block w-100" style="border-radius: 50px;">
        </div>
        <div class="carousel-item">
            <img src="~/img/carousel/image02.jpg" class="d-block w-100" style="border-radius: 50px;">
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
        </svg>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
        </svg>
    </button>
</div>
<div class="text-center">
    <h1 class="display-4">About Me</h1>
    <p></p>
</div>
<p class="intro-1" style="text-indent: 2em;">My name is Tyler, and I’m a 34-year-old software developer with a deeply-rooted passion for software development. Born and raised on a small Christmas tree farm just outside of Boone, North Carolina,
    I’ve always found inspiration in work and life through nature and especially the mountains. Growing up on a small farm taught me the value of hard work, dedication, and problem-solving, which I now apply to my career in technology.
    After spending my early years in the family business, I made the life-changing decision to pursue a college education,
    becoming a first-generation college graduate. I earned a Bachelor's degree in Computer Science, marking the start of my professional journey in information technologies.
</p>
<p class="intro-1" style="text-indent: 2em;">For the past two years, I’ve worked as a software developer, continuing to develop my technical skills and feed my desire to build impactful solutions.
    As I continue to grow in my career, I am searching for new challenges that allow me to innovate, collaborate, and push the boundaries of what’s possible in the tech industry. 
</p>