@{
    ViewData["Title"] = "Projects";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body class="projectsPage">
<h1 class="display-4">Projects</h1>
<div class="projectTiming">
    <h3 class="whenTitle">Current</h3>
    <h3 class="whenTitle">Previous</h3>
</div>
<div class="projectGrid">
    <div class="obj">
        <h4 class="projectTitle">Web API Rewrite</h4>
        <div class="projectSummary">Redesigning the mobile app’s core data API by replacing Entity Framework with Dapper ORM for improved performance and control. Updating application wide versioning, streamlining business logic, and adding comprehensive documentation to enhance maintainability and developer onboarding.</div>
    </div>
    <div class="obj">
        <h4 class="projectTitle">Service Loaners</h4>
        <div class="projectSummary">Developed a C#/.NET 8 mobile app feature enabling customers to pre-arrange service loaner vehicles before automotive appointments. Integrated a third-party API and internal databases to streamline the process. Utilized Azure DevOps for version control and worked in Visual Studio and VS Code environments.</div>
    </div>
    <div class="obj">
        <h4 class="projectTitle">Application Maintenance</h4>
        <div class="projectSummary">Established a CI/CD pipeline integrating Visual Studio, Azure DevOps, and Google Cloud Platform to support modern deployment practices. Currently leading the migration of the legacy .NET Framework 4.8 application to .NET 8, including project file upgrades, library updates, and code refactoring.</div>
    </div>
    <div class="obj">
        <h4 class="projectTitle">Extended Warranty</h4>
        <div class="projectSummary">Built a mobile app feature enabling users to purchase extended vehicle warranties end-to-end. Integrated four third-party APIs to verify vehicle details, retrieve contract options, generate contracts, handle digital signatures, and process payments. Streamlined the entire contracting workflow within a single user experience.</div>
    </div>

</div>
</body>
</html>