
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
nav {
    width: 100%;
}
header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
main {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
body {
    position: relative;
    min-height: 100vh;
    background-color: #0b2a59;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #9fc4d7;
    height: 50px;
    padding-bottom: 70px;

}
dropdown-item {
    font-weight: 700;
    color: #9fc4d7;
    background-color: #0b2a59;
    font-family: Georgia, 'Times New Roman', Times, serif'Bookman Old Style', cursive;
}
ul.dropdown-menu {
    background-color: #0b2a59;
    flex-wrap: wrap;
    margin-top: 8px !important;
    
}
.btn:hover {
    color: #9fc4d7;
    background-color: #0b2a59;
}
.btn:focus {
    color: #0b2a59;
    background-color: #9fc4d7;
}
.navbar-customclass {
    position: sticky;
    top: 0;
    background-color: #9fc4d7;
    width: 100%;
    flex-wrap: wrap;
}
div.dropdown {
    display: flex;
    align-content: center;
    align-items: center;
    height: 30px;
    grid-column-gap: 2px;
    
}
div.Title {
    font-weight: 1000;
    color: #0b2a59;
    font-size: 46px;
    letter-spacing: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif'Bookman Old Style', cursive;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.btn-secondary {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif'Bookman Old Style', cursive;
    color: #9fc4d7;
    background-color: #0b2a59;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 36px;
    height:40px;
    z-index: 100;
}
.linkedin-button:focus{
    visibility: hidden;
}
a.dropdown-item {
    font-family: Georgia, 'Times New Roman', Times, serif'Bookman Old Style', cursive;
    color: #9fc4d7;
    background-color: #0b2a59;
    font-style: italic;
    width: 200px;
}
a.dropdown-item:hover {
    color: #0b2a59;
    background-color: #9fc4d7;
    
}
div.container-fluid {
    width: 100%;
    display: inherit;
    height: 123px;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

div.container-footer {
    font-family: Georgia, 'Times New Roman', Times, serif'Bookman Old Style', cursive;
    color: #0b2a59;
    font-style: italic;
    font-weight: 700;
    width: 100%;
    text-align: center;
}
object {
    width: 101%;
    height: 101vh; /* Full viewport height */
    border: groove;
    border-color: #9fc4d7;
    
}
h1.display-4 {
    color: #9fc4d7;
    text-align: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif'Bookman Old Style', cursive;
    font-weight: 500;
}
.carousel {
    position: center;
    width:100vh;
}
p.intro-1 {
    color: #9fc4d7;
    font-size: 20px;
    display: flex;
    align-self: start;

}


/* EXPERIENCE CSS*/
.box3 main.pb-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
div.skillsBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    wrap-after: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
div.trunkBox {
    color: #9fc4d7;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
div.skillName {
    color: #9fc4d7;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}

bi.bi-google {
    color: #9fc4d7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
bi.bi-git {
    fill: #9fc4d7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
bi.bi-github {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
bi.bi-filetype-html {
    color: #9fc4d7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
svg.bi-filetype-sql {
    color: #9fc4d7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
svg.bi-filetype-css {
    color: #9fc4d7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.d-grid2 {
    display: grid;
    grid-template-columns: repeat(2, 100%); /* 2 columns of equal width */
    align-items: center;
    justify-content: start;
    justify-items:start;
    grid-gap: 0em;
}
.d-grid {
    display: grid;
    grid-template-columns: repeat(2, 100%); /* 2 columns of equal width */
    align-items: center;
    justify-content: start;
    justify-items: start;
    grid-gap: 0em;
}
@media (max-width: 600px) {
    html {
        font-size: 12px;
    }
    .d-grid {
        grid-template-columns: repeat(2, 65%);
        align-items: center;
        justify-content: start;
        justify-items: start;
        width: inherit;
    }

    .d-grid2 {
        grid-template-columns: repeat(2, 65%);
        align-items: center;
        justify-content: start;
        justify-items: start;
    }
    div.school {
        color: #9fc4d7;
        font-weight: 500;
        
    }

    div.location {
        color: #9fc4d7;
        font-style: italic;
    }

    div.degree {
        color: #9fc4d7;
        font-style: italic;
        font-weight: 400;
    }

    div.gradDate {
        color: #9fc4d7;
        font-style: italic;
    }
}
img.azure-icon {
    color: #9fc4d7;
}
h3.school {
    color: #9fc4d7;
    font-weight: 500;
}
h7.location {
    color: #9fc4d7;
    font-style: italic;
}
h5.degree {
    color: #9fc4d7;
    font-style: italic;
    font-weight: 400;
}
h7.gradDate {
    color: #9fc4d7;
    font-style: italic;
}
div.boxTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
/* PROJECTS CSS*/
div.projectGrid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%); 
    width: 50vh;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 2em;
    grid-column-gap: .5em;
}
div.projectSummary {
    color: #9fc4d7;
}

h4.projectTitle{
    font-weight: 200;
    font-style: italic;
    justify-content: center;
    justify-items: center;
    
}
div.projectTiming {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(1, 50%);
    grid-column-gap: 2em;
    color: #9fc4d7;
    justify-content: center;
    justify-items: center;
    width: 50vh;
    
}
div.obj {
    color: #9fc4d7;
}
/*TESTING*/


