
html {
    font-size: 14px;
}

@media (min-width: 768px) {
}

nav {
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}
body {
    position: relative;
    min-height: 100vh;
    background-color: #0b2a59;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    
    text-align: center;
    background-color: #9fc4d7;
    height: 50px;
    margin: -100px;
}

dropdown-item {
    font-weight: 700;
    color: #9fc4d7;
    background-color: #0b2a59;
    font-family: Georgia, 'Times New Roman', Times, serif'Bookman Old Style', cursive;
}

ul.dropdown-menu {
    background-color: #0b2a59;
    flex-wrap: wrap;
    margin-top: 8px !important;
}

.btn:hover {
    color: #9fc4d7;
    background-color: #0b2a59;
}

.btn:focus {
    color: #0b2a59;
    background-color: #9fc4d7;
}

.navbar-customclass {
    position: sticky;
    top: 0;
    background-color: #9fc4d7;
    width: 100%;
    flex-wrap: wrap;
}

div.dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    grid-column-gap: 2px;
}

div.Title {
    font-weight: 1000;
    color: #0b2a59;
    font-size: 46px;
    letter-spacing: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif'Bookman Old Style', cursive;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.btn-secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif'Bookman Old Style', cursive;
    color: #9fc4d7;
    background-color: #0b2a59;
    font-weight: 700;
    font-size: 17px;
    z-index: 100;
}

ul ul:after {
    margin-left: -20px;
}

.linkedin-button:focus {
    visibility: hidden;
}

a.dropdown-item {
    font-family: Georgia, 'Times New Roman', Times, serif'Bookman Old Style', cursive;
    color: #9fc4d7;
    background-color: #0b2a59;
    font-style: italic;
    width: 200px;
}

    a.dropdown-item:hover {
        color: #0b2a59;
        background-color: #9fc4d7;
    }

div.container-fluid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
    z-index: 100;
}

div.container-footer {
    font-family: Georgia, 'Times New Roman', Times, serif'Bookman Old Style', cursive;
    color: #0b2a59;
    font-style: italic;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

object {
    width: 101%;
    height: 101vh; /* Full viewport height */
    border: groove;
    border-color: #9fc4d7;
}

h1.display-4 {
    color: #9fc4d7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif'Bookman Old Style', cursive;
    font-weight: 500;
}

.carousel {
    position: center;
    width: 100vh;
}

p.intro-1 {
    color: #9fc4d7;
    font-size: 20px;
    display: flex;
    align-self: start;
}


/* EXPERIENCE CSS*/
div.skillsWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

div.skillsBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    wrap-after: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

div.trunkBox {
    color: #9fc4d7;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

div.skillName {
    color: #9fc4d7;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}

bi.bi-google {
    color: #9fc4d7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

bi.bi-git {
    fill: #9fc4d7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

bi.bi-github {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

bi.bi-filetype-html {
    color: #9fc4d7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

svg.bi-filetype-sql {
    color: #9fc4d7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

svg.bi-filetype-css {
    color: #9fc4d7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.d-grid2 {
    display: grid;
    grid-template-columns: repeat(2, 100%); /* 2 columns of equal width */
    align-items: start;
    align-content: start;
    justify-content: center;
    justify-items: center;
}

.d-grid {
    display: grid;
    grid-template-columns: repeat(2, 100%); /* 2 columns of equal width */
    align-items: start;
    justify-content: center;
    justify-items: center;
}

img.d-block.w-100 {
    border-radius: 20px;
}
@media (max-width: 600px) {
    html {
        font-size: 12px;
    }

    content {
        width: 600px;
    }

    .d-grid {
        grid-template-columns: repeat(2, 65%);
        align-items: center;
        justify-content: start;
        justify-items: start;
        width: 100vw;
    }

    .d-grid2 {
        grid-template-columns: repeat(2, 65%);
        align-items: center;
        justify-content: start;
        justify-items: start;
        width: 100vw;
    }

    div.school {
        color: #9fc4d7;
        font-weight: 500;
    }

    div.location {
        color: #9fc4d7;
        font-style: italic;
    }

    div.degree {
        color: #9fc4d7;
        font-style: italic;
        font-weight: 400;
    }

    div.boxTop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    div.gradDate {
        color: #9fc4d7;
        font-style: italic;
    }

    img.d-block.w-100 {
        border-radius: 15px;
        z-index: 100;
    }

    div.container-fluid {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        row-gap: -50px;
    }

    body {
        min-height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1;
    }

    footer {
    }

    div.projectSummary {
        width: 75vw;
        font-size: 12px;
    }

    div.projectGrid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        align-items: center;
        grid-row-gap: 2em;
        grid-column-gap: 2em;
        height: 100vh;
        width: 110vw;
    }

    div.projectTiming {
        display: grid;
        grid-template-columns: repeat(2, auto);
        width: 40%;
        grid-column-gap: 2em;
        justify-items: center;
        align-items: center;
    }

    h3.whenTitle {
        font-size: unset !important;
    }

    h4.projectTitle {
        font-size: unset !important;
    }

    h7.projectSummary {
        font-size: unset !important;
    }
}
@media (min-width: 601px) and (max-width: 1200px) {
    html {
        font-size: 12px;
    }

    content {
        width: 600px;
    }

    .d-grid {
        grid-template-columns: repeat(2, 65%);
        align-items: center;
        justify-content: start;
        justify-items: start;
        width: 100vw;
    }

    .d-grid2 {
        grid-template-columns: repeat(2, 65%);
        align-items: center;
        justify-content: start;
        justify-items: start;
        width: 100vw;
    }

    div.school {
        color: #9fc4d7;
        font-weight: 500;
    }

    div.location {
        color: #9fc4d7;
        font-style: italic;
    }

    div.degree {
        color: #9fc4d7;
        font-style: italic;
        font-weight: 400;
    }

    div.boxTop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    div.gradDate {
        color: #9fc4d7;
        font-style: italic;
    }

    img.d-block.w-100 {
        border-radius: 15px;
        z-index: 100;
    }

    div.container-fluid {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        row-gap: -50px;
    }
    body {
        min-height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    main {
        flex: 1;
    }
    footer {
        margin: -550px;
    }

    div.projectSummary {
        width: 75vw;
        font-size: 12px;
    }

    div.projectGrid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        align-items: center;
        grid-row-gap: 2em;
        grid-column-gap: 2em;
        height: 100vh;
        width: 110vw;
    }

    div.projectTiming {
        display: grid;
        grid-template-columns: repeat(2, auto);
        width: 40%;
        grid-column-gap: 2em;
        justify-items: center;
        align-items: center;
    }
    h3.whenTitle {
        font-size: 30px !important;
    }
    h4.projectTitle{
        font-size: 22px !important;
    }
    h7.projectSummary{
        font-size: 18px !important;
    }
}
img.azure-icon {
    color: #9fc4d7;
}

h3.school {
    color: #9fc4d7;
    font-weight: 500;
}

h7.location {
    color: #9fc4d7;
    font-style: italic;
    font-size: 16px;
}

h5.degree {
    color: #9fc4d7;
    font-style: italic;
    font-weight: 400;
}

h7.gradDate {
    color: #9fc4d7;
    font-style: italic;
}

div.boxTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
/* PROJECTS CSS*/

div.projectGrid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 65%;
    justify-content: center;
    justify-items: center;
    grid-column-gap: 3em;
    height: 100vh;
    gap: 3em;

}

div.projectSummary {
    color: #9fc4d7;
}

h4.projectTitle {
    display: flex;
    flex-direction: row;
    font-weight: 200;
    font-style: italic;
    justify-content: start;
    align-items: center;
    font-size: 25px;
}

div.projectTiming {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 65%;
    justify-items: center;
    align-items: center;
}

h3.whenTitle {
    color: #9fc4d7;
    font-size: 35px;
    font-weight: 450;
}
h7.projectSummary {
    font-size: 20px;
}

div.obj {
    color: #9fc4d7;
}
/*TESTING*/


